<script>blocmetrics.report('Splash Screen Displayed');</script>
<h1>Welcome to Pirate Picker</h1>

<h3>What is Pirate Picker?</h3>
<p>
  Pirate Picker is an online game for 2-4 players.
</p>

<%= link_to "Sign Up", new_user_registration_path, class:'pure-button pure-button-primary' %>
<br />
<small><%= link_to "Sign in", new_user_session_path %></small>
