<div class='pure-g'>
  <% @rooms.each do |room| %>
    <span class='pure-u-1-3'>
      <span class='inner-card'>
        <%= link_to room.name, room_path(room), onclick:'blocmetrics.report("room visited")' %>
        <br />
        <%= room.user.username %>
      </span>
    </span>
  <% end %>
</div>
